body {
	background-image: url(images/cuadro-fondo.png);
	font-size: 16px;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 576px) {

	#container, main {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#block-0 {
		display: flex;
		justify-content: center;
		margin-top: 3em;
		width: 100%;
	}

	#block-2 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 90%;
	}

	#profile-img {
		box-shadow: 10px 10px black;
		max-width: 45%;
	}

	.encabezado-gd {
		font-family: 'Crete Round', serif;
		font-size: 3em - 20%;
		text-align: center;
	}

	.encabezado-pq {
		font-family: 'Crete Round', serif;
		font-size: 1.3em;
		text-align: center;
		text-wrap: balance;
	}

	#breadcrumb {
		margin: 0 auto;
		padding: 0 0 5% 0;
}

	#block-1 {
		margin: 0 auto;
		width: 90%;
	}

	#block-2, #block-4 p, #block-4 ul, #resumen p{
		font-family: 'Fira Sans', serif;
		font-size: 1.3em;
	}

	#media {
		display: flex;
		justify-content: space-around;
		margin-top: 3em;
		width: 100%;
	}

	#media img {
		display: block;
		margin: 0 auto;
		max-width: 30%;
	}

	#works {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.work-img {
		display: block;
		padding-top: 10px;
		max-width: 100%;
	}

	.work-section {
		margin: 0 auto;
		position: relative;
		width: 90%;
	}

	#resume-work {
		margin: 0 auto;
		width: 85%;
	}

/* Efecto de Hover en Trabajos */

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
	}

	.work-section:hover .overlay {
		opacity: 1;
	}

	.text {
		color: white;
		font-family: 'Fira Sans', serif;
		font-size: 1.4em;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	/* Efecto de Hover en Trabajos */

	#resumen a:link {
		color: #006699;
		text-decoration: none;
	}

	#resumen a:visited {
		color: #3300ff;
	}

	#block-2 a:link {
		color: #006699;
		text-decoration: none;
	}

	#block-2 a:visited {
		color: #3300ff;
	}

	#resume-work video {
		width: 100%;
	}


	footer {
		background-color: #000;
		color: #fff;
		margin-top: 3em;
		padding: 2em 0;
	}

	footer p {
		font-family: 'Fira Sans', serif;
		font-size: 1.2em;
		text-align: center;
	}

}

@media screen and (min-width: 577px) and (max-width: 768px) {

	#container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	main {
		display: flex;
		padding: 3em 2em 0 2em;
	}

	#block-0 {
		display: none;
	}

	#block-1 {
		width: 100%;
	}

	#block-2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 80%;
	}

	.topnav {
		display: none;
	}

	.encabezado-gd, .encabezado-pq {
		display: inline;
		font-family: 'Crete Round', serif;
	}

	.encabezado-gd {
		font-size: 3em;
	}

	.encabezado-pq {
		font-size: 1.1em;
		text-wrap: balance;
	}

	#resumen p {
		font-family: 'Fira Sans', serif;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	#media {
		display: flex;
		justify-content: space-around;
		margin-top: 3em;
		width: 100%;
	}

	#media img {
		display: block;
		margin: 0 auto;
		max-width: 30%;
	}

	#works {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.work-img {
		display: block;
		margin: 0 auto;
		padding-top: 10px;
		max-width: 90%;
	}

	.work-section {
		position: relative;
		width: 50%;
	}

/* Efecto de Hover en Trabajos */

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
	}

	.work-section:hover .overlay {
		opacity: 1;
	}

	.text {
		color: white;
		font-family: 'Fira Sans', serif;
		font-size: 1.4em;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	/* Efecto de Hover en Trabajos */

	#block-2, #block-4, #resumen p{
		font-family: 'Fira Sans', serif;
		font-size: 1.3em;
	}

	#breadcrumb {

		text-wrap: balance;
	}

	#resumen a:link {
		color: #006699;
		text-decoration: none;
	}

	#resumen a:visited {
		color: #3300ff;
	}

	#block-2 a:link {
		color: #006699;
		text-decoration: none;
	}

	#block-2 a:visited {
		color: #3300ff;
	}

	footer {
		background-color: #000;
		color: #fff;
		margin-top: 3em;
		padding: 2em 0;
	}

	footer p {
		font-family: 'Fira Sans', serif;
		font-size: 1.2em;
		text-align: center;
	}

}

@media screen and (min-width: 769px) {

	#container {
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		align-items: center;
		height: 100vh;
		width: 100%;
	}

	main {
		display: flex;
		justify-content: space-around;
		margin-top: 3em;
		width: 80%;
	}

	#block-0 {
		display: flex;
		align-items: center;
		width: 30%;
	}

	#block-1 {
		width: 60%;
	}

	#block-2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
	}

	#block-2, #block-3, #block-4, #resumen p{
		font-family: 'Fira Sans', serif;
		font-size: 1.3em;
	}

	#block-4 p {
		padding: 0 0 0 5%;
	}

	#block-4 ul {
		padding: 0 0 0 10%;
	}

	#resume-work {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
	}

	#profile-img {
		box-shadow: 10px 10px black;
		display: block;
		margin: 0 auto;
		max-width: 75%;
	}

	#works {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.work-img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		padding-top: 10px;
	}

	.work-section {
		position: relative;
	}

/* Efecto de Hover en Trabajos */

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
	}

	.work-section:hover .overlay {
		opacity: 1;
	}

	.text {
		color: white;
		font-family: 'Fira Sans', serif;
		font-size: 1.5em;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.text a:link {
		color: #ffffff;
		text-decoration: none;
	}

	.text a:hover {
		text-shadow: 1px 1px #000000;
	}

	.text a:visited {
		color: #3300ff;
	}

	/* Efecto de Hover en Trabajos */

	.encabezado-gd, .encabezado-pq {
		display: inline;
		font-family: 'Crete Round', serif;
	}

	.encabezado-gd {
		font-size: 3em;
	}

	.encabezado-pq {
		font-size: 1.5em;
		text-wrap: balance;
	}

	#resumen a:link {
		color: #006699;
		text-decoration: none;
	}

	#resumen a:visited {
		color: #3300ff;
	}

	#block-2 a:link {
		color: #000000;
		text-decoration: none;
	}

	#block-2 a:visited {
		color: #3300ff;
	}
	
	#media {
		display: flex;
		justify-content: center;
		margin: 2em 0;
		width: 80%;
	}

	#media img {
		display: block;
		margin: 0 auto;
		max-width: 20%;
	}

	#media a {
		text-decoration: none;
	}

	#media a img:hover {
		filter: drop-shadow(2px 5px 3px);
	}

	#resume-work video {
		width: 25%;
	}

	footer {
		background-color: #000000;
		color: #fff;
		padding: 0.5em 0;
		width: 100%;
	}

	footer p {
		font-family: 'Fira Sans', serif;
		font-size: 1.2em;
		text-align: center;
	}

}